@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Mono+One&display=swap');
:root{
    --cor-fundo-site: #fbfbfd;
    --cor-titulo: #1D5D9B;
    --tipo-fonte-titulo: "Rubik Mono One", monospace;
    --tipo-fonte: "Open Sans", sans-serif;
}

body{
    background: var(--cor-fundo-site);
    color: var(--cor-titulo);
    font-size: 16px;
    font-family: var(--tipo-fonte);
}

.efeito{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #000000da;
    z-index: 7;
    

}

.banner hr{
    position: relative;
    right: 125px;
    width: 120px;
    border: 5px solid var(--cor-titulo);
}

.banner h1 {
    font-size: 42px;
    width: 50%;
    font-family: var(--tipo-fonte-titulo);
    margin-bottom: 0.5em;
    margin-left: 20px;
}

.banner p{
    color: black;
    font-weight: 600;
    line-height: 2;
    margin-left: 20px;
    margin-bottom: 20px;
}

.banner--container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 370px;
    width: 100%;
  
}

#curva{
    position: absolute;
    width: 100%;
}
.banner--img{
    margin: auto 0;
    position: relative;
    z-index: 2;
    width: 289px;
    height: 275px;
}
