@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Mono+One&display=swap');
:root{
    --cor-fundo-site: #fbfbfd;
    --cor-titulo: #1D5D9B;
    --tipo-fonte-titulo: "Rubik Mono One", monospace;
    --tipo-fonte: "Open Sans", sans-serif;
    --cor-subtitulo: #F6C54C;
}

body{
    background: var(--cor-fundo-site);
    color: var(--cor-titulo);
    font-size: 16px;
    font-family: var(--tipo-fonte);
}

.efeito{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #000000da;
    z-index: 7;
    

}
.banner{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.banner hr{
    position: relative;
    right: 125px;
    width: 120px;
    border: 5px solid var(--cor-titulo);
}

.banner h1 {
    font-size: 42px;
    width: 50%;
    font-family: var(--tipo-fonte-titulo);
    margin-bottom: 0.5em;
    margin-left: 20px;
}
.banner--texto::before{
    content: "";
    background-color: var(--cor-titulo);
    display: block;
    height: 10px;
    width: 150px;
    margin: 15px 0;
}

.banner p{
    color: black;
    font-weight: 600;
    line-height: 2;
    margin-left: 20px;
    margin-bottom: 20px;
}

.banner--container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 370px;
    width: 100%;
    order:1;

}


#curva{
    position: absolute;
    top: 0;
    width: 100%;
    height: 370px;
}
#curva2{
    position: absolute;
    display: none;
}


.banner--img{
    position: relative;
    z-index: 2;
    width: 289px;
    height: 275px;
}
.novidades {
    text-align: center;
    background: 
        linear-gradient(
            160deg, #1D5D9B 2%, #75C2F6 60%, #fff 90%
        );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtitulo{
    margin: 1em 0;
    font-size: 24px;
    color: var(--cor-subtitulo);
    text-transform: uppercase;
}

.slider{
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
   
}

.item{
    position: absolute;
    width: 200px;
    height: 320px;
    padding: 20px;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    left: calc(50% - 120px);
    top: 0;
   
}

#prev, #next {
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xx-large;
    font-weight: bold;
    left: 8%;
    z-index: 3;

}
#next{
    left: unset;
    right: 8%;
}

.conteudos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        342deg, #1D5D9B 10%, #75C2F6 40%, #fff 90%
    );
    padding: 2em;
}
.conteudos h2{
    margin-bottom: 20px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid var(--cor-subtitulo);
    height: 245px;
    width: 295px;
    margin: 10px auto;
    border-radius: 15px;
    font-family: var(--tipo-fonte);
    text-align: justify;
    background-color: var(--cor-fundo-site);

}

.card--titulo{
    font-size: 24px;
    text-transform: uppercase;
    color: var(--cor-subtitulo);
}

.card--texto{
    margin: 0 25px;
    font-size: 20px;
    line-height: 30px;

}
.card--btn-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}
.card-btn{
    padding: 15px;
    border: 3px solid var(--cor-subtitulo);
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-titulo);
    font-weight: 500;  
}

.agrinho, .agrinho a{
    border-color: #135B2B;
}

.scratch, .scratch a{
    border-color: #855CD6;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--cor-titulo);
    color: var(--cor-fundo-site);
}

.rodape img{
    width: 50px;
    height: 48px;
}

.rodape h2{
    width:55%;
    text-align: center;
    font-size: 10px;
    margin-left: 5em;
}

@media screen and (min-width: 780px){
    .banner{
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        align-items: center;
        height: 470px;
    }
    .banner--conteudo{
        width: 80%;
        margin-right: 200px;
    }
    #curva{
        display: none;
    }
    #curva2{
        display: block;
    }
   
    .card{
        margin-left: 2em;
    }
}