
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tauri&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Tauri&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Qwitcher+Grypen:wght@400;700&display=swap');

:root{
    --cor-fundo: linear-gradient(169deg, rgba(4,26,176,1) 0%, rgba(78,94,204,1) 53%, rgba(255,255,255,1) 100%);
    --font-secundaria: "Qwitcher Grypen", cursive;
    --font-principal: "Bebas Neue", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


.efeito{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #000000da;
    

}




body{
    background: var(--cor-fundo);
    font-family: var(--font-principal);
}

.cabecalho{
    margin-top: 20px;
    text-align: center;
}
.cabecalho h2{
    padding: 2em 2em 0.1em 2em;
    font-size: 50px;
}



.primeiroTri{
    font-family: var(--font-secundaria);
    text-align: center;
    margin-top: 0.5em;
}

.primeiroTri h2{
    font-size:70px;
    margin: 0.5em 0;
}

.cartoes{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    margin-bottom: 1em;
}

.cartao--img{
    width: 45%;
    
}
.cartao--img-talentos{
    width: 60%;
    margin-bottom: 70px;
}

.cartao--img--ccm{
    width: 35%;
}
.cartao{
    display: grid;
    grid-template-rows: 75% 25%;
    background-color: #f1eded;
    margin-top: 1em;
    width: 400px;
    height: 200px;
    padding: 10px;
    justify-items: center;
    align-items: center;
    border-radius: 15px;

}

.cartao:hover{
    background-color: rgba(128, 128, 128, 0.657);
}

.cartao h3{
    
    font-size: 32px;
}






footer{
    background-color: black;
    text-align: center;
    justify-items: center;
    color: #f1eded;
    width: 100%;
    height: 30px;
    position: relative;
    bottom: 0;
}

